- content_for :title do
  Home Page

%h1
  Welcome to QSO Map
%p
  We'll write up some really cool paragraphs that go here and explain what and why this application exists on the internet.
%p
  In the mean time, if you have inside information, are brave, or wreckless feel free to click the links above to Sign up and Sign in.
    