.container
  .row
    .col-md-6
      .panel.panel-default
        .panel-heading
          %h3 Upload Log File
        .panel-body
          = render partial: 'form'

  .row
    .col-md-6
      = link_to 'Back', user_log_files_path(current_user)
